/* BOTH */
@media screen and (max-width: 979px) {

	/* PHOTO PANELS */
	.ipsPhotoPanel.ipsPhotoPanel_notTablet > .ipsUserPhoto {
		display: none;
	}

	html[dir="ltr"] .ipsPhotoPanel.ipsPhotoPanel_notTablet > div {
		margin-left: 0;
	}
	html[dir="rtl"] .ipsPhotoPanel.ipsPhotoPanel_notTablet > div {
		margin-right: 0;
	}
	
	/* TOOL LISTS */
	.ipsToolList.ipsToolList_horizontal {
		margin-bottom: 15px;
	}
		/* Page header styles */
		.ipsApp .ipsHeaderButtons .ipsToolList {
			margin-bottom: 0;
		}

	/* ACTIVE USERS */
	.ipsActiveUsers_title {
		display: block;
		margin: 0;
	}
	/* Report button */
	.ipsComment_meta .ipsFaded.ipsFaded_more {
		opacity: 1;
	}
}

/* PHONES */
@media screen and (max-width: 767px) {
		
	/* PHOTO PANELS */
	.ipsPhotoPanel.ipsPhotoPanel_notPhone > .ipsUserPhoto,
	.ipsPhotoPanel.ipsPhotoPanel_notTablet > .ipsUserPhoto {
		display: none;
	}

	html[dir="ltr"] .ipsPhotoPanel.ipsPhotoPanel_notPhone > div,
	html[dir="ltr"] .ipsPhotoPanel.ipsPhotoPanel_notTablet > div {
		margin-left: 0;
	}
	html[dir="rtl"] .ipsPhotoPanel.ipsPhotoPanel_notPhone > div,
	html[dir="rtl"] .ipsPhotoPanel.ipsPhotoPanel_notTablet > div {
		margin-right: 0;
	}

	/* TOOLTIPS */
	.ipsToolList{
		display: flex;
		flex-wrap: wrap;
		gap: var(--sp-2);
		text-align: center;
		flex-wrap: wrap-reverse;
	}
		.ipsToolList > *{
			margin: 0 !important;
			flex-grow: 1;
		}
		.ipsToolList_primaryAction{
			flex-basis: 100%;
			order: 1;
		}
		.ipsToolList_primaryAction:has(+ li .ipsButton_split){
			flex: 999 1 60%;
		}
		.ipsToolList.ipsClearfix::after{
			content: none;
		}

	.ipsPad, .ipsApp ul.ipsPad, .ipsApp ol.ipsPad { padding: var(--sp-2); }
	.ipsPad_double { padding: var(--sp-4); }
}