/* BOTH */
@media screen and (max-width: 979px) {

	#acpAppList > li.acpAppList_active > ul,
	#acpAppList #elHideMenu {
		display: none;
	}

	#acpAppList, #acpAppMenu  {
		width: 60px !important;
	}

	html[dir="ltr"] #ipsLayout_header {
		left: 60px;
	}

	#elAdminNav a {
		font-size: 20px;
	}

	#acpContent {
		padding: 15px;
	}

	.acpToolbar {
		float: none !important;
		margin-top: 7px;
	}

		.acpToolbar > ul > li {
			margin-bottom: 5px;
		}

		.acpToolbar > ul > li,
		.acpToolbar .ipsButton_verySmall {
			width: 100%;
		}

		.acpToolbar > ul > li:not( .acpToolbar_primary ):not( .acpToolbar_more ) {
			display: none;
		}

		.acpToolbar > ul > li.acpToolbar_more .ipsButton_verySmall {
			margin-bottom: -10px;
			padding: 0;
			background: #f5f5f5;
			background: var(--c2);
		}

	#acpPageHeader {
		padding: 15px;
	}
		
		#acpPageHeader .ipsType_pageTitle {
			font-size: 22px;
		}

	#acpPageHeader .acpPageHeader_flex,
	#acpPageHeader.acpPageHeader_flex {
		display: block;
	}

	html[dir] #ipsLayout_header {
		position: absolute;
	}

	html[dir] #acpLiveSearchResults {
		left: 15px;
		right: 15px;
		width: auto;
	}

	html[dir] #acpLiveSearchResults [data-role="searchMenu"] {
		border: 0;
	}

	#acpPageHeader .ipsSubNavigation {
		margin-top: 0;
	}
}

/* PHONES */
@media screen and (max-width: 767px) {
	html[dir] #ipsLayout_header {
		position: absolute;
		left: 0;
		right: 0;
	}

	.cAdminDevModeWarning {
		display: none;
	}

	.cAdminDevModeBar {
		position: absolute;
		width: auto;
		top: 0;
		left: 0;
		right: 0;
		bottom: auto;
		height: 7px;
	}

	body.cAdminDevModeOn {
		padding-top: 7px;
	}
	
	body.cAdminDevModeOn #ipsLayout_header {
		top: 7px;
	}
}

/* Super small screen Horizontal scroll fix */
@media screen and (max-width: 318px) {
	#acpSearchKeyword {
		max-width: 175px;
	}
}