#acpPageHeader.cNexusSupportHeader {
	padding-top: 15px;
}

	#acpPageHeader.cNexusSupportHeader .ipsUserPhoto {
		margin-top: 2px;
	}

	#acpPageHeader.cNexusSupportHeader .acpToolbar {
		margin-top: -30px;
	}

#elCustomerIncome {
	width: 100%;
	height: 55px;
	background: rgba(0,0,0,0.03);
	text-align: center;
	font-size: 18px;
	color: rgba(0,0,0,0.3);
}

/* Customer standing box */
#elCustomerStanding {
	display: flex;
	flex-wrap: wrap;
}

	#elCustomerStanding > div {
		flex-grow: 1;
		min-width: 150px;
		margin-bottom: 5px;
	}

.cCustomerStanding_value {
	display: block;
	margin-bottom: 5px;
	font-size: 24px;
	font-weight: 300;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

	.cCustomerStanding_value + .ipsType_minorHeading {
		font-weight: 400;
		color: rgba(0,0,0,0.5);
		color: var(--c5);
	}

	.cCustomerStanding_positive {
		color: var(--positive-dark);
	}
	.cCustomerStanding_negative {
		color: var(--negative-dark);
	}

.cCustomerStanding_arrow {
	width: 18px;
	height: 18px;
	line-height: 18px;
	display: inline-block;
	font-size: 9px;
	text-align: center;
	vertical-align: middle;
	border-radius: 14px;
	color: #fff;
	margin-top: -5px;
}

	.cCustomerStanding_positive .cCustomerStanding_arrow {
		background: var(--positive-dark);
	}
	.cCustomerStanding_negative .cCustomerStanding_arrow {
		background: var(--negative-dark);
	}

.cCustomerStanding_loading.ipsType_normal {
	line-height: 42px;
	opacity: 0.5;
}

/* Customer standing popup */
.cCustomerStanding_progressIndicator {
	position: relative;
}

.cCustomerStanding_progress {
	background: rgb(52,128,187);
	background: linear-gradient(to right, rgba(52,128,187,1) 0%,rgba(102,187,106,1) 92%);
	height: 16px;
	border: 1px solid rgba(0,0,0,0.1);
	width: 100%;
}

.cCustomerStanding_markers {
	margin: -5px -5px 0;
	height: 18px;
}

.cCustomerStanding_markers > span {
	font-size: 18px;
	color: #000;
	position: absolute;
	width: 30px;
	margin-left: -15px;
	text-align: center;
}
	
	.cCustomerStanding_markers span.cCustomerStanding_markerAvg {
		color: #919191;
	}

	.cCustomerStanding_markers > span span {
		font-size: 10px;
		margin-top: 8px;
		position: relative;
		top: -10px;
	}

/* Account credit */
.cCustomerCredit.ipsAreaBackground_positive .ipsType_minorHeading {
	color: rgba(255,255,255,0.6);
}

.cCustomerCredit.ipsAreaBackground_positive a {
	color: #fff;
}

/* Other info box */
.cCustomerOther {
	/*height: 180px;*/
	overflow: hidden;
}

.cCustomerOther .cCustomerOther_icon {
	font-size: 20px;
	line-height: 1.2;
}

.cCustomerOther .ipsPhotoPanel.ipsPhotoPanel_tiny > div {
	margin-left: 30px !important;
}

.cCustomerOther .cCustomerOther_list {
	height: 90px;
	margin-top: 5px;
}

	.cCustomerOther li {
		margin-top: 5px;
		position: relative;
	}

		.cCustomerOther li:first-child {
			margin-top: 0;
		}

		.cCustomerOther ul li:nth-child(2):after {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			content: '';
			display: block;
			background: linear-gradient(to bottom, rgba(250,250,250,0) 0%,rgba(250,250,250,1) 100%);
		}

.ipsApp .cCustomerOther .ipsGrid > .ipsGrid_span3 {
	display: block;
	height: 100%;
	margin-left: 0 !important;
	width: 25%;
	/*border-right: 1px solid rgba(0,0,0,0.1);*/
}

.ipsApp .cCustomerOther .ipsButton {
	line-height: 26px;
}

/* Customer info tabs */
#elCustomerTabs .ipsTabs_item {
	position: relative;
}
	
	html[dir="ltr"] #elCustomerTabs .ipsTabs_item .ipsNotificationCount {
		right: auto;
		left: 50%;
		top: 0px;
		margin-left: 3px;
	}
	html[dir="rtl"] #elCustomerTabs .ipsTabs_item .ipsNotificationCount {
		left: auto;
		right: 50%;
		top: 0px;
		margin-right: 3px;
	}

/* PHONES */
@media screen and (max-width: 767px) {
	html[dir] #elCustomerTabs .ipsTabs_item .ipsNotificationCount {
		position: relative;
		top: 0;
		left: 0;
		right: 0;
	}
}

/* main column */
#elCustomerData {
	padding-left: 23px;
}

.cNexusCustomerInvoice {
	display: block;
	margin-bottom: 5px;
	font-size: 20px;
	font-weight: 300;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.ipsApp .cNotesBox.ipsBox {
	background-color: #FFF8E1;
	color: #514930;
	border-color: #ded5ba;
}

	.ipsApp .cNotesBox.ipsBox .ipsBox_titleBar {
		background: #FFECB3;
		color: #514930;
	}

		.ipsApp .cNotesBox.ipsBox .ipsBox_titleBar a {
			color: #c5651c;
		}

.ipsApp .cCustomerNotes_none {
	background: transparent;
	padding-left: 0;
	padding-right: 0;
}

/* Customer addresses */
.cCustomerAddresses .ipsControlStrip {
	float: none;
	margin-top: 10px;
}

/* Payment cards */
.cNexusCards li {
	width: 250px;
	height: 155px;
	border-radius: 8px;
	margin-bottom: 15px;
	background: #617178;
	background: linear-gradient(135deg, #617178 0%,#859ca5 100%);
	position: relative;
}

	.cNexusCards .cNexusCards_type.cPayment {
		position: absolute;
		bottom: 10px;
		right: 10px;
		width: 60px;
		height: 36px;
	}

	.cNexusCards .cNexusCards_number,
	.cNexusCards .cNexusCards_exp,
	.cNexusCards .cNexusCards_name {
		color: #f7f7f7;
		font-weight: bold;
		text-shadow: 0px 1px 0px rgba(0,0,0,0.8);
	}
	.cNexusCards .cNexusCards_number,
	.cNexusCards .cNexusCards_exp {
		position: absolute;
		left: 20px;
		font-family: 'courier new', monospace;
	}

	.cNexusCards .cNexusCards_number {
		bottom: 55px;
		font-size: 18px;
	}
	.cNexusCards .cNexusCards_name {
		margin-top: 75px;
		margin-left: 10px;
		margin-right: 10px;
		font-size: 14px;
		width: 230px;
		text-overflow: ellipsis;
		overflow: hidden;
	}

	.cNexusCards .cNexusCards_expTitle {
		font-size: 9px;
		color: #000;
		text-transform: uppercase;
		position: absolute;
		bottom: 30px;
		left: 20px;
	}

	.cNexusCards .cNexusCards_exp {
		bottom: 15px;
	}

	.cNexusCards .cNexusCards_delete {
		position: absolute;
		right: -5px;
		top: -5px;
		background: #333;
		color: #fff;
		width: 30px;
		height: 30px;
		border-radius: 30px;
		font-size: 20px;
		line-height: 26px;
		text-align: center;
	}

.cPayment {
	display: inline-block;
	width: 66px;
	height: 42px;
	border: 1px solid rgba(0,0,0,0.1);
	line-height: 40px;
	white-space: nowrap;
	font-size: 9px;
	font-weight: bold;
	padding: 0 5px;
	text-align: center;
	text-transform: uppercase;
	text-overflow: ellipsis;
	overflow: hidden;
	background-color: #f8f8f8;
}

html[dir="ltr"] .cPayment_cardTypeList {
	margin-left: 345px;
}
html[dir="rtl"] .cPayment_cardTypeList {
	margin-right: 345px;
}

.cPayment_visa,
.cPayment_mastercard,
.cPayment_american_express,
.cPayment_discover,
.cPayment_diners_club,
.cPayment_jcb,
.cPayment_paypal,
.cPayment_venmo {
	text-indent: 100%;
	padding: 0;
	background-repeat: no-repeat;
}
.cPayment_visa,
.cPayment_mastercard,
.cPayment_american_express,
.cPayment_discover,
.cPayment_diners_club,
.cPayment_jcb,
.cPayment_paypal {
	background-size: 64px 40px;
	background-position: center center;
}
.cPayment_venmo {
	background-size: 50px 26px;
	background-position: 5px 5px;
}

.cPayment_visa { background-image: url( "{resource="cards/visa.png" app="nexus" location="front"}" ); }
.cPayment_mastercard { background-image: url( "{resource="cards/mastercard.png" app="nexus" location="front"}" ); }
.cPayment_american_express { background-image: url( "{resource="cards/amex.png" app="nexus" location="front"}" ); }
.cPayment_discover { background-image: url( "{resource="cards/discover.png" app="nexus" location="front"}" ); }
.cPayment_diners_club {	background-image: url( "{resource="cards/dinersclub.png" app="nexus" location="front"}" ); }
.cPayment_jcb {	background-image: url( "{resource="cards/jcb.png" app="nexus" location="front"}" ); }
.cPayment_paypal {	background-image: url( "{resource="cards/paypal.png" app="nexus" location="front"}" ); }
.cPayment_venmo {	background-image: url( "{resource="cards/venmo.svg" app="nexus" location="front"}" ); }

@media screen and (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
	.cPayment_visa { background-image: url( "{resource="cards/visa@2x.png" app="nexus" location="front"}" ); }
	.cPayment_mastercard { background-image: url( "{resource="cards/mastercard@2x.png" app="nexus" location="front"}" ); }
	.cPayment_american_express { background-image: url( "{resource="cards/amex@2x.png" app="nexus" location="front"}" ); }
	.cPayment_discover { background-image: url( "{resource="cards/discover@2x.png" app="nexus" location="front"}" ); }
	.cPayment_diners_club {	background-image: url( "{resource="cards/dinersclub@2x.png" app="nexus" location="front"}" ); }
	.cPayment_jcb {	background-image: url( "{resource="cards/jcb@2x.png" app="nexus" location="front"}" ); }
	.cPayment_paypal {	background-image: url( "{resource="cards/paypal@2x.png" app="nexus" location="front"}" ); }
}