#elShipping {
	width: 6.5in;
	height: 9in;
	/*border: 1px solid rgba(0,0,0,0.2);*/
	margin: 0.33in auto 0;
	/*padding: 0.25in;*/
	line-height: 1.4;
}

#elShipping h1 {
	font-size: 30px;
	color: #979797;
	margin-top: -6px;
}

#elShipping h2 {
	font-size: 16px;
}

#elOrderID {
	font-size: 15px;
	color: #000;
}

#elPackingTable {
	width: 100%;
}

	#elPackingTable th {
		text-align: left;
		font-size: 12px;
		padding: 10px 0;
		border-bottom: 1px solid #000;
	}

	#elPackingTable td {
		padding: 10px 0;
		font-size: 14px;
		border-bottom: 1px solid #c8c8c8;
	}

	#elPackingTable tr td:first-child {
		color: #979797;
	}

#elPackingAddresses {
	margin-top: 20px;
}

	#elPackingAddresses h3 {
		margin-bottom: 5px;
		font-size: 14px;
	}

#elShippingLabel {
	width: 6in;
	font-size: 22px;
	line-height: 1.2;
	border: 1px solid rgba(0,0,0,0.3);
	padding: 0.25in;
}