/* TABLETS */
@media screen and (min-width: 768px) and (max-width: 979px) {
	.ipsTable.cNexusSupportTable .cNexusSupportTable_customer,
	.ipsTable.cNexusSupportTable .cNexusSupportTable_lastReply {
		width: 125px;
	}
	
	.ipsTable.cNexusSupportTable .cNexusSupportTable_status {
		width: 80px;
	}
	
	.ipsTable.cNexusSupportTable .cNexusSupportTable_assignedTo {
		width: 100px;
	}

}

/* PHONES */
@media screen and (max-width: 767px) {

	/* Make the ticket controls full-width */
	.cNexusSupportForm_controls li {
		width: 100%;
		margin-bottom: 5px;
	}

		.cNexusSupportForm_controls li select {
			width: 100%;
		}

	/* Make the submit split-button full-width */
	.cNexusSupportForm_buttons.ipsButton_split {
		width: 100%;
		display: table;
		margin-top: 15px;
	}

		.cNexusSupportForm_buttons > li {
			display: table-cell;
			float: none !important;
		}

		.cNexusSupportForm_buttons > li:last-child {
			width: 26px;
		}

			.cNexusSupportForm_buttons > li:first-child .ipsButton {
				width: 100%;
			}

	/* Sort out the custom action dropdown */
	.cNexusSupportForm_customAction {
		display: block;
		width: 100%;
		margin-bottom: 10px;
	}

	.cNexusSupportForm_customAction select {
		max-width: 100%;
		width: 95%;
	}

	/* Message styles */
	.cNexusAdminSupportMessage {
		padding: 0;
	}

	.cNexusAdminSupportMessage_message {
		padding: 7px;
	}

	.cNexusAdminSupportMessage_date {
		display: block;
	}

	html[dir="ltr"] .cNexusSupportRequest_action .cNexusAdminSupportMessage_date {
		margin-left: 0;
	}
	html[dir="rtl"] .cNexusSupportRequest_action .cNexusAdminSupportMessage_date {
		margin-right: 0;
	}

	/* Support list */
	.cNexusStream_tabs.ipsTabs:not(.ipsTabs_showMenu) .cNexusStream .ipsTabs_item:not(.ipsTabs_activeItem){
		display: none !important;
	}
	.cNexusStream_tabs.ipsTabs .cNexusStream label {
		display: inline-block;
		width: auto;
	}
	
	.ipsTable.cNexusSupportTable thead,
	.ipsTable.cNexusSupportTable .cNexusSupportTable_customer,
	.ipsTable.cNexusSupportTable .cNexusSupportTable_lastReply,
	.ipsTable.cNexusSupportTable .cNexusSupportTable_assignedTo {
		display: none;
	}

	html[dir="ltr"] .cNexusSupportTable td:not( .cNexusSupportTable_icon ) {
		margin-left: 15px;
	}
	html[dir="rtl"] .cNexusSupportTable td:not( .cNexusSupportTable_icon ) {
		margin-right: 15px;
	}

	.cNexusSupportTable tr.cNexusSupportTable_row,
	.cNexusSupportTable tr.cNexusSupportTable_row td {
		display: block;
	}

		.cNexusSupportTable tr.cNexusSupportTable_row {
			position: relative;
			border-bottom: 1px solid rgba(0,0,0,0.1);
			padding: 7px 0;
		}

		.cNexusSupportTable td {
			border: 0;
			padding: 7px 10px;
		}

	html[dir="ltr"] .cNexusSupportTable .cNexusSupportTable_body {
		padding-right: 25px;
	}
	html[dir="rtl"] .cNexusSupportTable .cNexusSupportTable_body {
		padding-left: 25px;
	}

	html[dir="ltr"] .cNexusSupportTable .cNexusSupportTable_icon {
		float: left;
		padding-left: 0;
	}
	html[dir="rtl"] .cNexusSupportTable .cNexusSupportTable_icon {
		float: right;
		padding-right: 0;
	}

	html[dir="ltr"] .cNexusSupportTable .cNexusSupportTable_status,
	html[dir="ltr"] .cNexusSupportTable .cNexusSupportTable_replies {
		float: left;
	}
	html[dir="rtl"] .cNexusSupportTable .cNexusSupportTable_status,
	html[dir="rtl"] .cNexusSupportTable .cNexusSupportTable_replies {
		float: right;
	}

	html[dir="ltr"] .cNexusSupportTable td.cNexusSupportTable_replies {
		margin-top: -3px;
		margin-left: 0;
	}
	html[dir="rtl"] .cNexusSupportTable td.cNexusSupportTable_replies {
		margin-top: -3px;
		margin-right: 0;
	}

	.cNexusSupportTable .cNexusSupportTable_multimod {
		position: absolute;
		top: 5px;
	}
	html[dir="ltr"] .cNexusSupportTable .cNexusSupportTable_multimod {
		right: 10px;
	}
	html[dir="rtl"] .cNexusSupportTable .cNexusSupportTable_multimod {
		left: 10px;
	}

	.cNexusSupportTable_bar .ipsButtonRow {
		margin-top: 2px;
		margin-bottom: 2px;
	}

	.cNexusSupportRequest_title ~ .ipsList_inline {
		margin-top: 20px;
	}

	.cNexusSupportRequest_metaInfo {
		margin-top: 20px;
	}

	.ipsTable.ipsTable_responsive .cNexusSupportHeader_row {
		padding: 10px 0;
	}
}