/* SUPPORT REQUEST TABLE */
.cNexusStream_tabs.ipsTabs [role="tablist"] > li {
	min-width: 180px;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.cNexusStream_tabs.ipsTabs .cNexusStream .ipsTabs_item:not(.ipsHide) {
	display: flex !important;
	align-items: center;
	padding: 0 10px;
}

.cNexusStream_tabs.ipsTabs .cNexusStream .ipsTabs_item .ipsButton {
	margin-top: 8px;
	margin-left: 8px;
	margin-right: 8px;
}

.cNexusStream_tabs.ipsTabs .cNexusStream .ipsTabs_item .ipsButton_veryLight {
	opacity: 0;
}

.cNexusStream_tabs.ipsTabs .cNexusStream .ipsTabs_item:hover .ipsButton_veryLight {
	opacity: 1;
}

.cNexusStream_tabs.ipsTabs .cNexusStream label {
	flex: 1 1 100%;
	min-width: 0;
	overflow: hidden;
	text-overflow: ellipsis;
}

.cNexusStream input[type="radio"] {
	position: absolute;
	opacity: 0.00001;
}

.cNexusStream_count {
	line-height: 24px;
	background: #ddd;
	color: #222;
	background: var(--c3);
	color: var(--c8);
	font-weight: 400;
	font-size: 12px;
	border-radius: 2px;
	display: inline-block;
	padding: 0 10px;
}
html[dir="ltr"] .cNexusStream_count {
	margin-right: 8px;
}
html[dir="rtl"] .cNexusStream_count {
	margin-left: 8px;
}

.ipsTabs_activeItem .cNexusStream_count {
	background: #3b6c99;
	background: var(--primary);
	color: #fff;
	flex: 0 0 auto;
}

.cNexusSupportTable_bar {
	padding: 5px;
}


.ipsTable.cNexusSupportTable .cNexusSupportTable_icon {
	width: 10px;
	padding-right: 0;
}

.ipsTable.cNexusSupportTable .cNexusSupportTable_customer,
.ipsTable.cNexusSupportTable .cNexusSupportTable_lastReply {
	width: 150px;
}

.ipsTable.cNexusSupportTable .cNexusSupportTable_status {
	width: 90px;
}

.ipsTable.cNexusSupportTable .cNexusSupportTable_assignedTo {
	width: 135px;
}

.ipsTable.cNexusSupportTable .cNexusSupportTable_replies {
	width: 15px;
}

.ipsTable.cNexusSupportTable .cNexusSupportTable_multimod {
	width: 10px;
}
	
	.ipsTable.cNexusSupportTable.cNexusSupportTable_condensed .cNexusSupportTable_customer,
	.ipsTable.cNexusSupportTable.cNexusSupportTable_condensed .cNexusSupportTable_lastReply,
	.ipsTable.cNexusSupportTable.cNexusSupportTable_condensed .cNexusSupportTable_assignedTo,
	.ipsTable.cNexusSupportTable.cNexusSupportTable_condensed .cNexusSupportTable_replies {
		display: none;
	}

.cNexusSupportTable tr.cNexusSupportTable_row {
	border-left: 5px solid transparent;
}

.cNexusSupportTable tr.cNexusSupportTable_row:hover {
	background-color: #f9fafc !important;
	background-color: var(--c1) !important;
	cursor: pointer;
}
.cNexusSupportTable_multimod {
	cursor: default !important;
}

.cNexusSupportTable td {
	padding: 13px 10px;
}

.cNexusSupportTable_body .ipsType_normal {
	font-size: 15px;
}

.ipsTable.cNexusSupportTable thead th {
	font-weight: bold;
}

.cNexusFormLoading {
	height: 75px;
}

/* ACTIONS BAR */
/*#elNexusRequestControls {
	padding: 15px 30px 0 30px;
	margin: -30px -30px 15px -30px;
}*/

/*#elNexusRequestControls {
	padding-bottom: 0;
}*/

#elNexusRequestControls.ipsSticky {
	background: #2E3D49;
	border-bottom: 1px solid rgba(255,255,255,0.3);
}

#elNexusRequestControls > ul {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}

#elNexusRequestControls li {
	flex-grow: 1;
	width: 48%;
	line-height: 1;
	margin-bottom: 10px;
}

	#elNexusRequestControls li:nth-child(odd) {
		margin-right: 2%;
	}
	#elNexusRequestControls li:nth-child(even) {
		margin-left: 2%;
	}

	/* If this is an odd child AND is the last one, make it full width */
	#elNexusRequestControls li:nth-child(odd):last-child {
		width: 100%;
		margin: 0;
	}

	#elNexusRequestControls li a, #elNexusRequestControls li > span {
		display: block;
		position: relative;
		padding: 10px 15px 10px 10px;
		background: rgba(0,0,0,0.1);
		border-radius: 3px;
	}

		#elNexusRequestControls li a:after {
			content: '\f107';
			font-family: 'FontAwesome';
			font-size: 14px;
			position: absolute;
			right: 10px;
			top: 18px;
			color: #fff;
		}

		#elNexusRequestControls li a:hover {
			background: rgba(0,0,0,0.2);
		}

	#elNexusRequestControls .cNexusSupportStatus_value {
		color: #fff;
		display: inline-block;
		margin-top: 5px;
		font-weight: 400;
		font-size: 15px;
		line-height: 1;
	}

	#elNexusRequestControls .ipsType_minorHeading {
		color: #ADB7BF;
		font-weight: 400;
		opacity: 0.8;
	}

/* CUSTOMER INFO */
#elNexusCustomerData {
	display: flex;
}

/* Badges */
.cNexusSupportBadge {
	display: inline-block;
	padding: 0 10px;
	border-radius: 4px;
	vertical-align: middle;
	font-size: 11px;
	line-height: 22px;
	font-weight: 400;
	background: #49bd5b;
	color: #fff;
	max-width: 85px;
	text-align: center;
}

/* Support form */
.cNexusSupportForm form.ipsForm {
	margin: 0;
}

.cNexusSupportForm select {
	height: 26px !important;
	font-size: 11px !important;
	min-width: 100px;
	padding: 3px 30px 4px 7px !important;
}

.cNexusSupportForm .ipsTabs_contained {
	border-width: 4px;
	border-color: #d6d6d6;
}

/* Reset some tab styles specifically for the ticket view page */
.cNexusSupportForm .ipsTabs_panels.ipsTabs_contained .ipsTabs_panel,
.cNexusSupportRequest_metaInfo .ipsTabs_small {
	padding: 0;
}

/*.ipsApp_admin .cNexusSupportForm .ipsTabs_item,
.ipsApp_admin .cNexusSupportRequest_metaInfo .ipsTabs_item,
.cNexusSupportRequest_metaInfo .ipsTabs_panels.ipsTabs_contained {
	border: 0 !important;
}*/

/* Special classes for the note reply form */
.cNexusSupportForm_note .ipsTabs_contained {
	border-color: #ecdcb9;
}

.cNexusSupportForm_note .ipsTabs {
	background: #ecd2ab;
}

.cNexusSupportForm_note .ipsButton_primary {
	background: #b38034;
}

.cNexusSupportForm_note .ipsTabs .ipsTabs_item:not( .ipsTabs_activeItem ) {
	color: #765d38;
}

.cNexusSupportForm_note .ipsTabs_activeItem {
	border-top-color: #765d38;
	color: #765d38;
}

.cNexusSupportForm_sendTo .ipsForm > li {
	margin-bottom: 0;
}

.cNexusSupportForm_sendTo .ipsForm_horizontal .ipsFieldRow > .ipsFieldRow_title {
	width: 100px;
}

html[dir="ltr"] .cNexusSupportForm_sendTo .ipsForm_horizontal .ipsFieldRow:not( .ipsFieldRow_checkbox ) .ipsFieldRow_content {
	margin-left: 100px;
}
html[dir="rtl"] .cNexusSupportForm_sendTo .ipsForm_horizontal .ipsFieldRow:not( .ipsFieldRow_checkbox ) .ipsFieldRow_content {
	margin-right: 100px;
}

.cNexusSupportForm_buttons{
	padding: 0;
	border-width: 0;
	box-shadow: none;
	background: none;
}

.cNexusTicketSort {
	width: 30% !important;
}

/* FILTER FORM */
.cNexusSupportCheckboxes {
	background: #fff;
	background: var(--c0);
	padding: 5px;
	border: 1px solid rgba(0,0,0,0.2);
	border-color: var(--c3);
	max-height: 165px;
	overflow: scroll;
	margin-bottom: 20px;
	width: 100%;
}

#elFilterFormFull .cStreamForm_title,
#elFilterFormFull .ipsFieldRow_title {
	font-weight: 500;
	color: #000;
	color: var(--c9);
	font-size: 14px;
}

#elFilterFormFull .cStreamForm_mainTitle .ipsFieldRow_title  {
	padding: 0;
	font-size: 18px;
    font-weight: 400;
}

/* SUPPORT MESSAGES */
#acpPageHeader .acpPageHeader_flex {
	align-items: center;
}

#acpPageHeader .ipsType_pageTitle.cNexusSupportRequest_title {
	font-size: 23px;
}

#acpPageHeader .ipsType_pageTitle.cNexusSupportRequest_title ~ .acpToolbar {
	margin-top: -5px;
}

.cNexusSupportRequest_metaInfo #elNexusRequestInfo {
	background: #2E3D49;
}

	.cNexusSupportRequest_metaInfo #elNexusRequestInfo > hr.ipsHr {
		border-color: rgba(255,255,255,0.1);
		margin: 0 15px;
	}

.cNexusAdminSupportMessage {
	border-left: 7px solid transparent;
	padding: 7px;
	background: #fff;
}

	.cNexusAdminSupportMessage + .cNexusAdminSupportMessage {
		/*border-top: 1px solid rgba(0,0,0,0.1);*/
		margin-top: 5px;
	}

.cNexusAdminSupportMessage_author {
	margin: 0 15px 0 15px;
	padding-top: 7px;
	padding-bottom: 7px;
	border-bottom: 1px solid rgba(0,0,0,0.1);
}
	
	.cNexusAdminSupportMessage_author .ipsType_light {
		/*color: rgba(255,255,255,0.5);*/
	}

.cNexusAdminSupportMessage_m,
.cNexusAdminSupportMessage_a {
	border-color: #ccd9e4;
	border-left-color: #437cab;
}

	.cNexusAdminSupportMessage_m .cNexusAdminSupportMessage_authorName,
	.cNexusAdminSupportMessage_a .cNexusAdminSupportMessage_authorName {
		color: #437cab;
	}

.cNexusAdminSupportMessage_s {
	border-color: #d4e8d6;
	border-left-color: #49bd5b;
}
	
	.cNexusAdminSupportMessage_s .cNexusAdminSupportMessage_authorName {
		color: #49bd5b;
	}

.cNexusAdminSupportMessage_e {
	border-left-color: #b4b4b4;
}
	
	.cNexusAdminSupportMessage_e .cNexusAdminSupportMessage_authorName {
		color: #b4b4b4;
	}

.cNexusAdminSupportMessage_h {
	background-color: #fffef2 !important;
}

	.cNexusAdminSupportMessage_h, .cNexusAdminSupportMessage_p {
		border-color: #e0d3c6;
		border-left-color: #ce7d2d;
	}
		
	.cNexusAdminSupportMessage_h .cNexusAdminSupportMessage_authorName, .cNexusAdminSupportMessage_p .cNexusAdminSupportMessage_authorName {
		color: #ce7d2d;
	}
	
	.cNexusAdminSupportMessage_actions {
		padding: 15px 15px 15px 45px;
		border-radius: 2px;
		position: relative;
		background: #ede6e0;
		color: #564a3f;
		text-align: center;
	}


	.ipsDarkMode .cNexusAdminSupportMessage{
		background-color: var(--c0);
	}
	.ipsDarkMode .cNexusAdminSupportMessage_m,
	.ipsDarkMode .cNexusAdminSupportMessage_a {
		border-color: #ccd9e4;
		border-left-color: #89bde8;
	}

		.ipsDarkMode .cNexusAdminSupportMessage_m .cNexusAdminSupportMessage_authorName,
		.ipsDarkMode .cNexusAdminSupportMessage_a .cNexusAdminSupportMessage_authorName {
			color: #89bde8;
		}

	.ipsDarkMode .cNexusAdminSupportMessage_h {
    	background-color: #623f34 !important;
	}

		.ipsDarkMode .cNexusAdminSupportMessage_h,
		.ipsDarkMode .cNexusAdminSupportMessage_p {
			border-left-color: #ea946a;
		}
			
		.ipsDarkMode .cNexusAdminSupportMessage_h .cNexusAdminSupportMessage_authorName,
		.ipsDarkMode .cNexusAdminSupportMessage_p .cNexusAdminSupportMessage_authorName {
			color: #ea946a;
		}
		
		.ipsDarkMode .cNexusAdminSupportMessage_actions {
			background: #ede6e0;
			color: #564a3f;
		}

.cNexusSupportRequest_action {
	padding: 15px 0;
	opacity: 0.7;
}
	html[dir="ltr"] .cNexusSupportRequest_action {
		padding-left: 30px;
	}
	html[dir="rtl"] .cNexusSupportRequest_action {
		padding-right: 30px;
	}

	html[dir="ltr"] .cNexusSupportRequest_action .cNexusAdminSupportMessage_date {
		margin-left: 15px;
	}
	html[dir="rtl"] .cNexusSupportRequest_action .cNexusAdminSupportMessage_date {
		margin-right: 15px;
	}

	.cNexusSupportRequest_action + .cNexusSupportRequest_action {
		padding-top: 0;
	}

.cNexusSupportForm_to.ipsType_normal {
	line-height: 24px;
}

.cNexusSupportForm_customAction select {
	max-width: 100px;
}

/* Request header */
.cNexusSupportHeader td {
	border-bottom: 0;
}

.cNexusSupportHeader td:first-child {
	padding: 0 10px 7px 0;
}
.cNexusSupportHeader td:last-child {
	padding: 0 0 7px 0;
}

.cNexusSupportHeader_title {
	font-weight: 400;
}

.cNexusSupportHeader_colTitle {
	width: 150px;
	color: rgb( var(--theme-text_light) );
	font-size: 13px;
	font-weight: 500;
}

.cNexusSupportHeader_colInfo .fa {
	color: #000;
}

/* Purchase table */
.ipsDataList.ipsDataList_reducedSpacing.cNexusPurchaseInfoList .ipsDataItem_generic {
	display: table-cell;
	padding: 8px 8px;
	vertical-align: top;
}

/* MY HISTORY */
#elNexusHistoryOverview {
	margin-top: -10px;
	margin-bottom: 40px;
}

#elNexusHistoryOverview .ipsType_pageTitle {
	font-size: 22px;
	margin-bottom: 10px;
}

#elNexusHistoryOverview .ipsColumn_veryWide {
	width: 420px;
}

.cNexusHistoryStat_title {
    font-weight: 400;
    color: rgba(0,0,0,0.5);
}

.cNexusHistoryStat {
    display: block;
    margin-bottom: 5px;
    font-size: 24px;
    font-weight: 300;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.cNexusHistoryStat_positive {
	color: var(--positive-dark);
}
	.cNexusHistoryStat_positive .cNexusHistoryStat_arrow {
		background: var(--positive-dark);
	}

.cNexusHistoryStat_negative {
	color: var(--negative-dark);
}
	.cNexusHistoryStat_negative .cNexusHistoryStat_arrow {
		background: var(--negative-dark);
	}

.cNexusHistoryStat_neutral {
	color: #b3b3b3;
}
.cNexusHistoryStat_neutral .cNexusHistoryStat_arrow {
	background: #b3b3b3;
}

#elNexusHistoryOverview .ipsRating.ipsRating_large  {
	margin-top: 10px;
	font-size: 18px;
}

.cNexusHistoryStat_arrow {
	width: 18px;
    height: 18px;
    line-height: 18px;
    display: inline-block;
    font-size: 9px;
    text-align: center;
    vertical-align: middle;
    border-radius: 14px;
    color: #fff;
    margin-top: -5px;
}

	

#elNexusStaffDailyReview .ipsPager_prev,
#elNexusStaffDailyReview .ipsPager_next {
	padding-top: 7px;
}

#elNexusStaffTimeline {
	margin-left: 90px;
	padding-left: 35px;
	border-left: 2px solid #4d4d4d;
	position: relative;
}

	#elNexusStaffTimeline:before,
	#elNexusStaffTimeline:after {
		content: '';
		position: absolute;
		background: #4d4d4d;
		width: 10px;
		height: 10px;
		border-radius: 10px;
		left: -6px;
	}

	#elNexusStaffTimeline:before {
		top: -5px;
	}
	#elNexusStaffTimeline:after {
		bottom: -5px;
	}

	#elNexusStaffTimeline > li {
		margin-bottom: 10px;
	}

		#elNexusStaffTimeline li h3 {
			font-weight: 500;
			font-size: 16px;
			color: #000;
		}

		#elNexusStaffTimeline li > div {
			position: relative;
			border: 1px solid #dddce0;
		    box-shadow: 0px 2px 3px rgba(0,0,0,0.04);
		    border-radius: 3px;
		}

			#elNexusStaffTimeline li > div:after,
			#elNexusStaffTimeline li > div:before {
				content: '';
				width: 0;
				height: 0;
				border-style: solid;
				position: absolute;
				pointer-events: none;
				z-index: 100;			
			}

			#elNexusStaffTimeline li > div:before {
				border-color: transparent #e0e0e0 transparent transparent;
				border-width: 12px;
				left: -24px;		
				top: 18px;
			}

			#elNexusStaffTimeline li > div:after {
				border-color: transparent #fff transparent transparent;
				border-width: 12px;
				left: -23px;		
				top: 18px;
			}

			#elNexusStaffTimeline li.cTimelineStaffNote > div {
				border-color: #ce7d2d;
				background: #fffef2;
			}
			#elNexusStaffTimeline li.cTimelineStaffNote > div:before {
				border-color: transparent #ce7d2d transparent transparent;
			}
			#elNexusStaffTimeline li.cTimelineStaffNote > div:after {
				border-color: transparent #fffef2 transparent transparent;
			}
			#elNexusStaffTimeline li.cTimelineStaffNote .cTimelineAction {
				color: #b0a98d;
			}
			#elNexusStaffTimeline li.cTimelineStaffNote hr.ipsHr {
				border-color: #b0a98d;
				opacity: 0.2;
			}

		#elNexusStaffTimeline li .ipsType_richText {
			max-width: 1000px;
		}

		#elNexusStaffTimeline li .cTimelineIcon {
			display: block;
			width: 32px;
			height: 32px;
			line-height: 28px;
			border-radius: 22px;
			text-align: center;
			border: 2px solid #333;
			background: #fff;
			position: absolute;
			left: -17px;
			margin-top: 15px;
			font-size: 15px;
		}

		#elNexusStaffTimeline li .cTimelineAction {
			margin: 0;
			font-size: 13px;
			color: #999;
		}

			#elNexusStaffTimeline li .cTimelineAction strong {
				background: #F9FBE7;
				padding: 0 4px;
				color: #556d45;
				font-weight: 400;
				margin-left: -4px;
			}

		#elNexusStaffTimeline li .cTimelineTime {
			position: absolute;
			left: -90px;
			margin-top: 20px;
			font-size: 18px;
			font-weight: 500;
			line-height: 1.1;
			color: #000;
		}

			#elNexusStaffTimeline li .cTimelineTime span {
				text-transform: uppercase;
				font-size: 10px;
				font-weight: 400;
			}

	#elNexusStaffTimeline li .cNexusSupportBadge {
		line-height: 17px;
		font-size: 10px;
		border-radius: 2px;
		margin-top: -3px;
	}