/* Overview statistics */
@keyframes updated {
	0% { 
        background-color: #fffff0; 
        border-color: #dede6e;
    }
	100% { 
        background-color: #fff;
        border-color: rgba(0,0,0,0.12);
    }
}

.cStatTile:not( .ipsHide ) {
    display: flex !important;
    flex-direction: column;
}

    .cStatTile--updated {
        animation: updated 2s 1 ease-out;
    }

    .cStatTile__title {
        color: #959595;
        color: var(--c5);
        font-size: 18px;
        font-weight: 500;
        text-align: center;
        padding: 20px 15px;
    }
    
    .cStatTile__subTitle {
        color: #959595;
        color: var(--c5);
        font-size: 13px;
        font-weight: 500;
        text-align: center;
        margin-bottom: 5px;
    }

    .cStatTile__header {
        position: relative;
    }

    .cStatTile__body {
        flex-grow: 1;
        padding: 0 15px 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 190px;
        position: relative;
    }

        .cStatTile__bodyInner {
            width: 100%;
        }

    .cStatTile__info {
        position: absolute;
        right: 15px;
        top: calc(50% - 13px);
        font-size: 17px;
        color: #7B7E83;
        color: var(--c4);
        border: 1px solid currentColor;
        opacity: 0.5;
        width: 26px;
        height: 26px;
        border-radius: 26px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: help;
        transition: 0.2s all ease-in-out;
    }

        .cStatTile__info:hover {
            opacity: 1;
        }

        .cStatTile__form {
            cursor: pointer;
        }

    .cStatTile__split {
        width: 50%;
        flex-grow: 1;
    }

.cStat__number {
    color: #252525;
    color: var(--c7);
    font-weight: bold;
    line-height: 1;
    display: block;
}
    .cStat__number--large {
        font-size: 50px;
        margin-bottom: 7px;
    }
    .cStat__number--medium {
        font-size: 40px;
        margin-bottom: 7px;
    }
    .cStat__number--small {
        font-size: 22px;
        margin-bottom: 5px;
        color: #676767;
        color: var(--c5);
    }

.cStat__change {
    font-weight: bold;
    line-height: 1;
    display: inline-block;
}
    .cStat__change--large {
        font-size: 17px;
    }
    .cStat__change--small {
        font-size: 12px;
    }


.cStatsGrid .ipsLoading {
	height: 100%;
}

	.cStatsGrid .ipsBox {
		position: relative;
		height: 100%;
	}
		.cStatsGrid .ipsBox > p {
			position: absolute;
			bottom: 0px;
		}

.cStatsFilters button[type="submit"] {
	margin-left: 30px;
}

.cStatsFilters #dateFilterInputs {
	display: inline-block;
	margin-right: 10px;
}

.ipsApp .cStatsFilters select,
.ipsApp .cStatsFilters .ipsField_short {
    padding: 7px 11px;
}

.ipsApp .cStatsFilters .ipsField_short {
    margin-left: 10px;
    margin-right: 10px;
}

.ipsApp .cStatsFilters .ipsField_short:last-child {
    margin-right: 0;
}

html[dir] .ipsHovercard .ipsForm_horizontal .ipsFieldRow > .ipsFieldRow_title {
    min-width: 200px;
    width: auto;
}

.ipsHovercard > div {
    overflow: initial;
}