.ipsMemberCard {
	background-clip: padding-box;
	position: relative;
	border-radius: var(--radius-1);
}

.ipsMemberCard .ipsMemberCard_photo {
	margin-top: -28px;
}

.ipsMemberCard .ipsType_sectionHead {
	display: block;
	margin-top: 3px;
	font-size: {fontsize="large"};
}

.ipsMemberCard_controls.ipsButton {
	color: inherit;
	position: absolute;
	top: 5px;
	right: 5px;
	line-height: 22px;
}

.ipsMemberCard_buttons {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	gap: 8px;
}

	.ipsMemberCard_buttons > *{
		flex: 1 1 50%;
	}

	.ipsMemberCard_buttons .ipsButton_split{
		display: flex;
	}