html[dir="ltr"] .cNexusCheckout_returning,
html[dir="ltr"] .cNexusCheckout_review>.ipsColumn:first-child {
    border-right: 1px solid rgba( var(--theme-text_color), 0.01 );
}

html[dir="rtl"] .cNexusCheckout_returning,
html[dir="rtl"] .cNexusCheckout_review>.ipsColumn:first-child {
    border-left: 1px solid rgba( var(--theme-text_color), 0.01 );
}

.cNexusCheckout_review>.ipsColumn {
    padding: 0 15px;
}

.cNexusCheckout_subtotal {
    border-top: 1px solid rgb( var(--theme-area_background) );
}

.cNexusCheckout_addresses {}

.cNexusCheckout_addresses .ipsGrid_span6 {
    margin-bottom: 15px;
}

.cNexusCheckout_addresses .ipsGrid_span6 input[type="radio"] {
    margin-top: 4px;
}

.cNexusCheckout_addresses .ipsField_fieldList {
    padding-top: 0;
}

.cVenmoButton {
    background-color: #3D95CE !important;
    border: none !important;
}

.cVenmoButton img {
    height: 15px;
}

.ipsSocial {
    max-width: 100%;
}

input[type="text"][name="cm_checkout_vat_number"] {
    width: auto;
}