.cNexusInvoiceView .cNexusPrice {
	font-size: {fontsize="3x_large"};
	line-height: 1.2;
	font-weight: 500;
	vertical-align: middle;
}

.cNexusInvoiceView .ipsToolList_vertical {
	max-width: 200px;
	margin-left: auto;
	margin-right: auto;
}

.cNexusInvoiceView .ipsToolList_vertical li {
	margin-bottom: 5px;
}

.cNexusInvoiceView_shipIcon {
	font-size: 40px;
}

.cNexusInvoiceView_shipList {
	padding-top: 0;
	padding-bottom: 0;
}

/* Payment cards */
.cNexusCards li {
	width: 250px;
	height: 155px;
	border-radius: 8px;
	margin-bottom: 15px;
	background: #617178;
	background: linear-gradient(135deg, #617178 0%,#859ca5 100%);
	position: relative;
}

	.cNexusCards .cNexusCards_type.cPayment {
		position: absolute;
		bottom: 10px;
		right: 10px;
		width: 60px;
		height: 36px;
	}

	.cNexusCards .cNexusCards_number,
	.cNexusCards .cNexusCards_exp,
	.cNexusCards .cNexusCards_name {
		color: #f7f7f7;
		font-weight: bold;
		text-shadow: 0px 1px 0px rgba(0,0,0,0.8);
	}
	.cNexusCards .cNexusCards_number,
	.cNexusCards .cNexusCards_exp {
		position: absolute;
		left: 20px;
		font-family: 'courier new', monospace;
	}

	.cNexusCards .cNexusCards_number {
		bottom: 55px;
		font-size: 18px;
	}
	.cNexusCards .cNexusCards_name {
		margin-top: 75px;
		margin-left: 10px;
		margin-right: 10px;
		font-size: 14px;
		width: 230px;
		text-overflow: ellipsis;
		overflow: hidden;
	}

	.cNexusCards .cNexusCards_expTitle {
		font-size: 9px;
		color: #000;
		text-transform: uppercase;
		position: absolute;
		bottom: 30px;
		left: 20px;
	}

	.cNexusCards .cNexusCards_exp {
		bottom: 15px;
	}

	.cNexusCards .cNexusCards_delete {
		position: absolute;
		right: -5px;
		top: -5px;
		background: #333;
		color: #fff;
		width: 30px;
		height: 30px;
		border-radius: 30px;
		font-size: 20px;
		line-height: 26px;
		text-align: center;
	}

/* Account credit */
.cNexusCredit_total {
	font-size: 54px;
	line-height: 1.3;
	font-weight: 300;
}

	.cNexusCredit_total.cNexusCredit_contact {
		font-size: 34px;
	}

/* Purchase list */
.cNexusPurchaseList .ipsNoThumb,
.cNexusPurchaseList .cNexusPurchaseList_image {
	width: 115px;
	height: 115px;
}

html[dir="ltr"] .cNexusPurchaseList .ipsPhotoPanel.ipsPhotoPanel_mini > div {
	margin-left: 130px;
}
html[dir="rtl"] .cNexusPurchaseList .ipsPhotoPanel.ipsPhotoPanel_mini > div {
	margin-right: 130px;
}

html[dir="ltr"] .cNexusPurchaseList_info {
	padding-left: 145px;
}
html[dir="rtl"] .cNexusPurchaseList_info {
	padding-right: 145px;
}

.cNexusPurchaseList .cNexusPurchaseList_image,
.cNexusPurchase .cNexusPurchase_image {
	background-color: rgb( var(--theme-area_background_reset) );
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
	border: 1px solid rgb( var(--theme-area_background) );
}

.cNexusPurchaseSubList {
	padding-top: 15px;
}
	
	html[dir="ltr"] .cNexusPurchaseSubList {
		margin-left: 30px;
		padding-left: 30px;
		border-left: 3px solid rgba( var(--theme-text_color), 0.15 );
	}
	html[dir="rtl"] .cNexusPurchaseSubList {
		margin-right: 30px;
		padding-right: 30px;
		border-right: 3px solid rgba( var(--theme-text_color), 0.15 );
	}

	html[dir="ltr"] .cNexusPurchaseSubList .cNexusPurchaseList_info {
		padding-left: 117px;
	}
	html[dir="rtl"] .cNexusPurchaseSubList .cNexusPurchaseList_info {
		padding-right: 117px;
	}

	.cNexusPurchaseSubList .cNexusPurchaseList .ipsNoThumb, 
	.cNexusPurchaseSubList .cNexusPurchaseList .cNexusPurchaseList_image {
		width: 100px;
		height: 100px;
	}

	html[dir="ltr"] .cNexusPurchaseSubList .cNexusPurchaseList .ipsPhotoPanel.ipsPhotoPanel_mini > div {
		margin-left: 110px;
	}

	.cNexusPurchaseSubList .ipsType_sectionHead {
		font-size: {fontsize="base"};
	}

/* Purchase view */
.cNexusPurchase .ipsNoThumb,
.cNexusPurchase .cNexusPurchase_image {
	width: 200px;
	height: 200px;
	display: block;
}

.cNexusPurchase_titleArea {
	height: 75px;
	margin-bottom: -60px;
}

.cNexusPurchase {
	width: auto;
}

html[dir="ltr"] .cNexusPurchase {
	margin: 0 0 0 15px;
}
html[dir="rtl"] .cNexusPurchase {
	margin: 0 15px 0 0;
}
	
	.cNexusPurchase .ipsColumn_wide {
		width: 205px;
	}

	.cNexusPurchase .ipsNoThumb_gift:after {
		font-size: 100px;
	}

.ipsToolList.cNexusPurchase_renewActions li {
	margin-bottom: 5px;
}

.cNexusPurchase_info dd {
	margin: 0 0 10px 0;
}

.cNexusLicenseKey {
	font-size: 24px;
}

/* Alternate contacts */
.cAlternateContactPerms .ipsToolList li {
	margin-bottom: 5px;
}

.cAlternateContactPerms_perms li {
	margin-bottom: 7px;
}

/* Referrals */
.cReferralBadge {
	display: block;
	width: 50px;
	height: 50px;
	border-radius: 50px;
	line-height: 50px;
	text-align: center;
	color: #fff;
	font-size: 14px;
	font-weight: 500;
	background: rgb( var(--theme-brand_primary) );
}