.cDonateProgressBar {
	width: 100%;
	height: 40px;
	overflow: hidden;
	background: rgba( var(--theme-brand_primary), 0.3 );
	border-radius: 4px;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

.cDonateProgressBar_condensed {
	height: 10px;
}
	
.cDonateProgressBar_progress {
	float: left;
	width: 0;
	height: 100%;
	font-size: {fontsize="x_small"};
	color: #ffffff;
	text-align: center;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background: rgb( var(--theme-brand_primary) );
	position: relative;
}

	.cDonateProgressBar_progress[data-progress]:after {
		position: absolute;
		top: 0;
		line-height: 32px;
		color: #fff;
		content: attr(data-progress);
		display: block;
		font-weight: bold;
	}

	html[dir="ltr"] .cDonateProgressBar_progress[data-progress]:after {
		right: 5px;
	}
	html[dir="rtl"] .cDonateProgressBar_progress[data-progress]:after {
		left: 5px;
	}