/* Subscriptions */

.cSubscriptions {
	position: relative;
	height: 100%;
}

	.cSubscriptions.cSubscription_highlighted {
		box-shadow: 0px 0px 0px 1px rgb( var(--theme-brand_primary) ), 0px 0px 0px 8px rgba( var(--theme-brand_primary), 0.4 );
	}
	
	.cSubscriptions.cSubscriptions_active {
		box-shadow: 0px 0px 0px 1px rgb( var(--theme-selected_border) ), 0px 0px 0px 5px rgba( var(--theme-selected_border), 0.2 );
	}
		
.cSubscriptionGrid {
	margin-bottom: 15px;
}

.cSubscriptionsHeader {
	display: block;
	min-height: 150px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
	border-top-left-radius: inherit;
	border-top-right-radius: inherit;
}
	.cSubscriptionRenew {
		position: absolute;
		background: rgba( var(--theme-brand_primary), 0.7 );
		left: 0;
		right: 0;
		bottom: 0;
		padding: 8px 15px;
		text-align: center;
	}
	.cSubscriptions_expired .cSubscriptionRenew {
		background: rgba( var(--theme-moderated ) );
		color: rgb( var(--theme-moderated_text ) );
	}
	
	.ipsComment:not( .ipsModerated ):not( .ipsComment_selected ).ipsBox.ipsComment_popular {
		border-color: rgba( var(--theme-brand_primary), 0.4 );
		box-shadow: 0px 2px 10px rgba( var(--theme-brand_primary), 0.2 );
	}

	.ipsComment:not( .ipsModerated ):not( .ipsComment_selected ).ipsComment_popular .ipsComment_header {
		background: rgba( var(--theme-brand_primary), 0.1 );
		border-top: 1px solid rgb( var(--theme-brand_primary) );
	}
		html[dir="ltr"] .ipsComment:not( .ipsModerated ).ipsComment_popular .ipsComment_header {
			padding-right: 60px;
		}
		html[dir="rtl"] .ipsComment:not( .ipsModerated ).ipsComment_popular .ipsComment_header {
			padding-left: 60px;
		}
		
.cSubscriptions .cSubscriptionActive {
	position: absolute;
	top: -3px;
	background: rgb( var(--theme-brand_primary) );
	text-align: center;
	color: #fff;
	width: 34px;
	height: 40px;
	font-size: 26px;
	padding-top: 2px;
	z-index: 5000;
	border-radius: 2px 2px 0 0;
}
html[dir="ltr"] .cSubscriptions .cSubscriptionActive {
	right: 10px;
}
html[dir="rtl"] .cSubscriptions .cSubscriptionActive {
	left: 10px;
}
	
	.cSubscriptions .cSubscriptionActive:after {
		content: '';
		display: block;
		position: absolute;
	}

	.cSubscriptions .cSubscriptionActive:after {
		border-width: 13px 17px 17px 17px;
		border-style: solid;
		border-color: rgb( var(--theme-brand_primary) ) transparent transparent transparent;
		top: 100%;
	}
	html[dir="ltr"] .cSubscriptions .cSubscriptionActive:after {
		left: 0;
	}
	html[dir="rtl"] .cSubscriptions .cSubscriptionActive:after {
		right: 0;
	}
	
.cSubscriptionGrid .cNexusPrice {
	font-size: {fontsize="medium"};
	font-weight: 600;
}

/* Widgets */
.cWidgetSubscription {
    position: relative;
    display: block;
    z-index: 0;
    text-align: center;
    overflow: hidden;
	color: #ffffff;
	text-overflow: ellipsis;
	padding: 10px;
	background-color: rgba( 0, 0, 0, 0.8 );
	border-radius: 6px;
}
	.cWidgetSubscription_bg {
	    position: absolute;
	    z-index: -1;
	    top: 0;
	    bottom: 0;
	    left: 0;
	    right: 0;
	    background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
	    opacity: .6;
	    width: 100%;
	    height: 100%;
	}

	.cWidgetSubscription .cWidgetSubscription_text {
		font-size: {fontsize="medium"};
	}
	
	.cWidgetSubscription_linkbox {
		padding-top: 0px;
	}