#acpLiveSearchResults {
	width: 750px;
	top: 70px;
	bottom: 30px;
	position: fixed;
	background: #fff;
	background: var(--c0);
	border-radius: 5px;
	box-shadow: 0px 10px 40px rgba(0,0,0,0.2)
}
html[dir="ltr"] #acpLiveSearchResults {
	left: 280px;
}
html[dir="rtl"] #acpLiveSearchResults {
	right: 280px;
}

	.cAcpSearch_areas,
	.cAcpSearch_results {
		position: absolute;
		top: 0;
		bottom: 0;
		overflow: auto;
	}

	.cAcpSearch_areas {
		width: 220px;
		padding: 6px;
	}
		html[dir="rtl"] .cAcpSearch_areas {
			left: 0;
		}
		html[dir="rtl"] .cAcpSearch_areas {
			right: 0;
		}

		.cAcpSearch_areas a{
			border-radius: 4px;
		}

	.cAcpSearch_results {
		width: 560px;
	}
		html[dir="ltr"] .cAcpSearch_results {
			left: 220px;
		}
		html[dir="rtl"] .cAcpSearch_results {
			right: 220px;
		}

	#acpLiveSearchResults [data-role="searchMenu"] {
		background: #f9fbfd;
		background: var(--c1);
	}
	html[dir="ltr"] #acpLiveSearchResults [data-role="searchMenu"] {
		border-right: 1px solid rgba(0,0,0,0.05);
		border-right-color: var(--c2);
		border-radius: 5px 0 0 5px;
	}
	html[dir="rtl"] #acpLiveSearchResults [data-role="searchMenu"] {
		border-left: 1px solid rgba(0,0,0,0.05);
		border-right-color: var(--c2);
		border-radius: 0 5px 5px 0;
	}

#acpLiveSearchResults:before {
	content: '';
	display: block;
	border-width: 7px;
	border-style: solid;
	border-color: transparent transparent #f9fbfd transparent;
	border-bottom-color: var(--c1);
	position: absolute;
	top: -14px;
	width: 0;
	height: 0;
	pointer-events: none;
}
html[dir="ltr"] #acpLiveSearchResults:before {
	left: 23px;
}
html[dir="rtl"] #acpLiveSearchResults:before {
	right: 23px;
}

#acpLiveSearchResults [data-resultsSection],
#acpLiveSearchResults [data-role="searchResults"] {
	overflow: auto;
	height: 100%;
}

#acpLiveSearchResults .ipsPadding_top {
	padding-top: 2px;
}

.cAcpSearch_areas .ipsSideMenu_item:not(.ipsSideMenu_itemActive) .ipsSideMenu_itemCount{
	background: #fff;
	background: var(--c3);
	color: inherit;
}