/* Dropdown menus */

/* Hover */
ul:not( .ipsMenu_keyNav ) .ipsMenu_item:not( .ipsMenu_itemClicked ):not( .ipsMenu_itemDisabled ) a:not( .ipsMenu_itemInline ):hover,
.ipsMenu_item[data-selected] a,
.ipsMenu_item[data-selected] span,
.ipsMenu_item.ipsMenu_hover {
	background: #f2f4f8;
	background: var(--c2);
}

.ipsSideMenu_itemActive a,
a.ipsSideMenu_itemActive,
.ipsSideMenu_withChecks .ipsSideMenu_item > input[type="checkbox"]:checked ~ a,
.ipsSideMenu_withRadios .ipsSideMenu_item > input[type="radio"]:checked ~ a {
	background: #3b6c99;
	background: var(--primary);
	color: #fff;
}

.ipsSideMenu_item:not(.ipsSideMenu_itemActive) a:hover,
a.ipsSideMenu_item:not(.ipsSideMenu_itemActive):hover,
span.ipsSideMenu_item:not(.ipsSideMenu_itemActive):hover{
	background: #c8d0d9;
	background: var(--c1);
}

.ipsSideMenu_itemDisabled a, 
a.ipsSideMenu_itemDisabled,
span.ipsSideMenu_itemDisabled{
	color: var(--c5);
	opacity: .4;
}

.ipsSideMenu_itemActive .ipsSideMenu_itemCount{
	background: transparent;
	color: inherit;
}

.ipsSideMenu_list > li:last-child .ipsSideMenu_item a, 
.ipsSideMenu_list > li:last-child a.ipsSideMenu_item {
	margin-bottom: 0;
}

.ipsMenu_title{
	background: #edf0f5;
	background: var(--c2);
	color: var(--c9);
}

.ipsMenu_item > a:not(.ipsMenu_itemInline),
.ipsMenu_item > span:not(.ipsMenu_itemInline){
	color: var(--c7);
}

.ipsMenu_sep{
	border-color: var(--c4);
}

/* Auto complete */
.ipsAutocompleteMenu{
	background: var(--c0);
}

	.ipsAutocompleteMenu_item[data-selected]{
		background: var(--c2);
	}

/* Dark mode selectors */
.ipsMenu_selectable .ipsMenu_item:not( .ipsMenu_itemNonSelect ) a:before, 
.ipsMenu_selectable .ipsMenu_item:not( .ipsMenu_itemNonSelect ) > span:before, 
.ipsMenu_selectable .ipsMenu_item:not( .ipsMenu_itemNonSelect ) button:before {
	color: var(--c4);
}