.ipsBox,
.acpBlock,
#acpContent > form[class^="ipsForm"],
.ipsChart,
.ipsWizard,
.acpBlock .ipsTabs_panel > .acpBlock,
#elLogin_box{
	box-shadow: none;
	border-radius: 5px;
	background: #fff;
	background: var(--c0);
	border-width: 0;
}

.ipsBox:not( .ipsBox_transparent ):not( .ipsModerated ) {
	background: #fff;
	background: var(--c0);
}

.acpFormTabContent{
	background: #fff;
	background: var(--c0);
	padding: 1px;
}

/* Comments */
.ipsComment{
	background-color: var(--c1);
}

/* Moderated content */
.ipsDarkMode .ipsModerated:not(.ipsComment_selected):not(.ipsDataItem_selected) {
	background-color: #4b3333;
	color: #e2bfbf;
}

	.ipsDarkMode .ipsModerated a {
		color: inherit;
	}

	.ipsDarkMode .ipsModerated .ipsType_light {
		color: {hextorgb="#e2bfbf" opacity="0.7"};
	}

/* The pseudo elements purposely prevent child margins from collapsing */
.ipsBox::before,
.ipsBox::after,
.ipsWizard::before,
.ipsWizard::after,
.acpBlock::before,
.acpBlock::after{
	content: '';
	display: block;
	height: 0.1px;
}

/* Darker box-shadow for login box */
#elLogin_box{
	box-shadow: 0px 20px 40px -10px rgba(28,35,49,0.15), 0px 0px 0px 1px rgba(28,35,49,0.05);
}

	/* Remove styles from children boxes */
	.ipsDialog_content > .acpBlock,
	.acpBlock > .acpBlock,
	.ipsBox > .acpBlock,
	.ipsBox .ipsChart {
		box-shadow: none;
	}

.ipsBox_shadowed {
	border: 1px solid rgba(0,0,0,0.12);
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.04);
}

		.ipsDarkMode .ipsBox_shadowed {
			border-color: rgba(255,255,255,0.1) transparent transparent transparent;
		}

.ipsBox_group {
	border: 1px solid rgba(0,0,0,0.1);
	border-radius: 4px;
	background: rgba(0,0,0,0.033);
}

.ipsBox_title {
	font-size: 12px;
	font-weight: 500;
	text-transform: uppercase;
	color: rgba(0,0,0,0.7);
	color: var(--c5);
	padding: 10px 15px 5px 0;
	margin: 0;
}

	.ipsBox_title + .ipsBox {
		
	}

.ipsBox_titleBar {
	font-size: 15px;
	font-weight: 600;
	padding: var(--sp-5);
	margin: 0;
	color: var(--text-heavy);
}

	.ipsBox_titleBar .ipsBox_titleBar__icon{
		color: #587898;
		color: var(--text-soft);
		width: 1.5em;
		font-size: .9em;
	}

	.ipsBox_titleBar a.ipsPos_right {
		font-weight: normal;
	}

.acpWidgetToolbar {
	padding: 10px;
	position: relative;
}

	.acpWidgetToolbar .ipsPagination {
		line-height: 30px;
		margin-top: 2px;
	}

.ipsApp input[type="text"].acpTable_search {
	max-width: 200px;
}
html[dir="ltr"] .ipsApp input[type="text"].acpTable_search {
	padding-right: 30px;
}
html[dir="rtl"] .ipsApp input[type="text"].acpTable_search {
	padding-left: 30px;
}
	/*
	.ipsApp input[type="text"].acpTable_search:hover,
	.ipsApp input[type="text"].acpTable_search:focus {
		background: #fff;
	}*/

.acpWidgetSearch {
	padding: 0 10px;
	line-height: 41px;
	color: rgba(0,0,0,0.4);
	color: var(--c6);
	border: 0px solid transparent;
	position: relative;
}
html[dir="ltr"] .acpWidgetSearch {
	margin-left: -30px;
}
html[dir="rtl"] .acpWidgetSearch {
	margin-right: -30px;
}

	.acpWidgetSearch:hover {
		color: #000;
		color: var(--c9);
	}

/* Info panels */
.cWithInfoPanel {
	display: flex;
}

.cWithInfoPanel_main {
	flex-grow: 1;
	order: 1;
	margin-right: 30px;
	min-width: 0;
}

	.cWithInfoPanel_info.ipsSticky ~ .cWithInfoPanel_main {
		margin-right: 350px;
	}

.cWithInfoPanel_info {
	background: #2E3D49;
	min-width: 350px;
	max-width: 350px;
	order: 2;
	overflow: auto;
}

	html[dir='ltr'] .cWithInfoPanel_info{
		margin: 0 -15px -15px 0;
		border-top-left-radius: 5px;
	}
	html[dir='rtl'] .cWithInfoPanel_info{
		margin: 0 0 -15px -15px;
		border-top-right-radius: 5px;
	}

	.cWithInfoPanel_info.ipsSticky {
		top: 0;
		right: 0;
		bottom: 0;
		margin: 0;
	}

.cWithInfoPanel .ipsType_sectionTitle {
	margin: -15px -15px 15px -15px;
	background: #27333D;
	padding: 10px 15px;
	color: #fff;
	font-weight: 300;
}

/* Charts */
.ipsChart_filters {
	border-radius: 5px;
}

.acpContent > .ipsChart .ipsChart_filters{
	background-image: linear-gradient(to bottom, rgba(255,255,255,1), rgba(255,255,255,0));
}

	ul[data-role='filterSaveMenu'] ul.ipsToolList,
	ul[data-role='filterRenameMenu'] ul.ipsToolList {
		margin-bottom: 0px;
	}

	button[data-role="renameChart"] {
		margin-right: 4px;
	}

	/* Align buttons correctly in dashboard */
	.ipsChart_filters .ipsButton{ vertical-align: top; }

/* Apple pie chart */
.ipsPieBar__bar {
	height: 38px;
	background: #ddd;
	overflow: hidden;
	white-space: nowrap;
	display: flex;
	border-radius: 5px;
	position: relative;
}

.ipsPieBar__barSegment {
	height: 38px;
}

.ipsList_inline > .ipsPieBar__legendItem {
	display: inline-flex;
	align-items: center;
}

.ipsPieBar__barSegment:nth-child(10n-9),
.ipsPieBar__legendItem:nth-child(10n-9) > .ipsPieBar__legendItemKey {
	background: #10967e;
}
.ipsPieBar__barSegment:nth-child(10n-8),
.ipsPieBar__legendItem:nth-child(10n-8) > .ipsPieBar__legendItemKey {
	background: #ea7963;
}
.ipsPieBar__barSegment:nth-child(10n-7),
.ipsPieBar__legendItem:nth-child(10n-7) > .ipsPieBar__legendItemKey {
	background: #de6470;
}
.ipsPieBar__barSegment:nth-child(10n-6),
.ipsPieBar__legendItem:nth-child(10n-6) > .ipsPieBar__legendItemKey {
	background: #6b9dde;
}
.ipsPieBar__barSegment:nth-child(10n-5),
.ipsPieBar__legendItem:nth-child(10n-5) > .ipsPieBar__legendItemKey {
	background: #b09be4;
}
.ipsPieBar__barSegment:nth-child(10n-4),
.ipsPieBar__legendItem:nth-child(10n-4) > .ipsPieBar__legendItemKey {
	background: #eec766;
}
.ipsPieBar__barSegment:nth-child(10n-3),
.ipsPieBar__legendItem:nth-child(10n-3) > .ipsPieBar__legendItemKey {
	background: #9fc973;
}
.ipsPieBar__barSegment:nth-child(10n-2),
.ipsPieBar__legendItem:nth-child(10n-2) > .ipsPieBar__legendItemKey {
	background: #e291bf;
}
.ipsPieBar__barSegment:nth-child(10n-1),
.ipsPieBar__legendItem:nth-child(10n-1) > .ipsPieBar__legendItemKey {
	background: #55c1a6;
}
.ipsPieBar__barSegment:nth-child(10n),
.ipsPieBar__legendItem:nth-child(10n) > .ipsPieBar__legendItemKey {
	background: #5fb9da;
}

.ipsPieBar__legend {
	text-align: left;
    margin-top: 10px;
}

.ipsPieBar__legendItemKey {
	display: inline-block;
	width: 14px;
	height: 14px;
	margin-right: 4px;
	border-radius: 5px;
}

/* Step bar */
.ipsStepBar{
	background: var(--c2);
	color: var(--c7);
	margin: 5px;
	border-radius: 5px;
}

.ipsStepBar > .ipsStep > a,
.ipsStepBar > .ipsStep > span{
	color: var(--c7);
}

.ipsStepBar > .ipsStep.ipsStep_active::before,
.ipsStepBar > .ipsStep.ipsStep_active::after{
	background: var(--dark);
}

.ipsStepBar > .ipsStep::before,
.ipsStepBar > .ipsStep::after,
.ipsStepBar > .ipsStep + .ipsStep.ipsStep_active::after{
	border-color: var(--c0);
}

	.ipsDarkMode .ipsStepBar > .ipsStep::before,
	.ipsDarkMode .ipsStepBar > .ipsStep::after,
	.ipsDarkMode .ipsStepBar > .ipsStep + .ipsStep.ipsStep_active::after {
		border-color: var(--c4);
	}

/* Loading */
.icon-spinner2:before,
.ipsLoading:before{
	border-color: var(--c2);
	border-top-color: var(--c7);
}

/* Stats bar */
.acpStatsBar {
	height: 38px;
	background: #ddd;
	overflow: hidden;
	white-space: nowrap;
	display: flex;
	border-radius: 5px;
	position: relative;
}

	.acpStatsBar::after{
		content: '';
		position: absolute;
		top: 0; left: 0; right: 0; bottom: 0;
		border: 1px solid rgba(0,0,0,0.1);
		border-radius: inherit;
		pointer-events: none;
	}

	.acpStatsBar_segment,
	.acpStatsBar_subsegment {
		height: 38px;
	}

	.acpStatsBar_subsegment {
		background: rgba(0,0,0,0.2);
	}

	.ipsList_inline > .acpStatsBar_legend{
		display: inline-flex;
		align-items: center;
	}
		
	.acpStatsBar_segment:nth-child(10n-9),
	.acpStatsBar_legend:nth-child(10n-9) > .acpStatsBar_preview {
		background: #10967e;
	}
	.acpStatsBar_segment:nth-child(10n-8),
	.acpStatsBar_legend:nth-child(10n-8) > .acpStatsBar_preview {
		background: #ea7963;
	}
	.acpStatsBar_segment:nth-child(10n-7),
	.acpStatsBar_legend:nth-child(10n-7) > .acpStatsBar_preview {
		background: #de6470;
	}
	.acpStatsBar_segment:nth-child(10n-6),
	.acpStatsBar_legend:nth-child(10n-6) > .acpStatsBar_preview {
		background: #6b9dde;
	}
	.acpStatsBar_segment:nth-child(10n-5),
	.acpStatsBar_legend:nth-child(10n-5) > .acpStatsBar_preview {
		background: #b09be4;
	}
	.acpStatsBar_segment:nth-child(10n-4),
	.acpStatsBar_legend:nth-child(10n-4) > .acpStatsBar_preview {
		background: #eec766;
	}
	.acpStatsBar_segment:nth-child(10n-3),
	.acpStatsBar_legend:nth-child(10n-3) > .acpStatsBar_preview {
		background: #9fc973;
	}
	.acpStatsBar_segment:nth-child(10n-2),
	.acpStatsBar_legend:nth-child(10n-2) > .acpStatsBar_preview {
		background: #e291bf;
	}
	.acpStatsBar_segment:nth-child(10n-1),
	.acpStatsBar_legend:nth-child(10n-1) > .acpStatsBar_preview {
		background: #55c1a6;
	}
	.acpStatsBar_segment:nth-child(10n),
	.acpStatsBar_legend:nth-child(10n) > .acpStatsBar_preview {
		background: #5fb9da;
	}

	.acpStatsBar_preview {
		display: inline-block;
		width: 14px;
		height: 14px;
		margin-right: 4px;
		border-radius: 5px;
	}


/* Progress bars */
.ipsProgressBar{
	background: var(--c3);
}

	.ipsProgressBar_progress{
		background: var(--primary);
	}

/* Pixabay modal */
.ipsPixabay_thumb{
	background-color: var(--c1);
}

/* Comment count */
.ipsCommentCount{
	background: var(--c3);
	color: var(--c9);
}

/* Thumbs */
.ipsThumb {
	border-color: var(--c2);
}
	.ipsThumb_bg {
		background-color: var(--c2);
	}