.ipsPagination{
	color: var(--text-soft);
}

.ipsPagination .ipsPagination_page.ipsPagination_active a {
	background: var(--primary);
}

[data-role="pageJump"] .ipsButton{
	margin-top: 10px;
}

.ipsPager{
	color: var(--c7);
}

	.ipsPager_prev a:hover,
	.ipsPager_next a:hover{
		color: var(--c9);
	}