.ipsType_richText{
	color: inherit;
}

.ipsType_veryLarge{
	color: var(--c8);
}

.ipsType_light {
	color: #587898;
	color: var(--text-soft);
}

	.ipsType_light a{
		text-decoration: underline;
	}

.ipsType_neutral {
	color: var(--c5);
}

.ipsType_huge{
	color: var(--c8);
}

.ipsType_pageTitle,
.ipsType_sectionHead {
	font-weight: 300;
}

.ipsType_pageTitle {
	font-size: 23px;
	color: var(--c9);
}

.ipsType_sectionHead {
	font-size: 18px;
	color: var(--c9);
}

.ipsType_sectionTitle {
	background: none;
	box-shadow: none;
	border-width: 0;
	font-size: 15px;
	font-weight: 600;
	padding: 16px;
	margin: 0;
	text-transform: none;
}

.ipsType_positive {
	color: var(--positive-dark);
}
.ipsType_negative {
	color: var(--negative-dark);
}


/* Pretty print and code */
.ipsCode,
.ipsDarkMode pre.prettyprint {
	background: var(--c1);
	border-color: var(--c4) !important;
}
.ipsDarkMode.ipsApp .CodeMirror{
	background: var(--c0);
	color: var(--c8);
	border-color: var(--c4);
}
    .ipsDarkMode .CodeMirror-gutters{
        border-color: var(--c2);
        background: var(--c0);
    }
    .ipsDarkMode .CodeMirror-linenumber{
        color: var(--c4);
    }
    .ipsDarkMode .diffDeleted{
        background: #673f3f;
        color: #fff;
    }
    .ipsDarkMode .diffInserted{
        background: #52613f;
        color: #fff;
    }
    .ipsDarkMode.ipsApp .CodeMirror-merge-l-chunk {
        background: var(--c4);
    }
    .ipsDarkMode.ipsApp .CodeMirror-merge-gap {
        background: var(--c6);
    }

.ipsDarkMode.ipsApp .cm-s-default .cm-meta{ color: #a5acbd; }
.ipsDarkMode.ipsApp .cm-s-default .cm-tag { color: #a0dd96; }
.ipsDarkMode.ipsApp .cm-s-default .cm-attribute { color: #bdbdf9; }
.ipsDarkMode.ipsApp .cm-s-default .cm-string { color: #f9e1a8; }
.ipsDarkMode.ipsApp .cm-s-default .cm-comment { color: #fdc389; }
.ipsDarkMode.ipsApp .cm-s-default .cm-error { color: #d56262; }
.ipsDarkMode.ipsApp .cm-s-default .cm-qualifier { color: #86c1ab; }
.ipsDarkMode.ipsApp .cm-s-default .cm-atom { color: #f9d88a; }
.ipsDarkMode.ipsApp .cm-s-default .cm-number { color: #f7ca90; }
.ipsDarkMode.ipsApp .cm-s-default .cm-def { color: #a9a9ff; }
.ipsDarkMode.ipsApp .cm-s-default .cm-variable-3, 
.ipsDarkMode.ipsApp .cm-s-default .cm-type { color: #e3fbf2; }
.ipsDarkMode.ipsApp .cm-s-default .cm-keyword { color: #ffa1a1; }
.ipsDarkMode.ipsApp .cm-s-default .cm-variable-2{ color: #94c0ec; }
.ipsDarkMode.ipsApp .cm-s-default .cm-builtin{ color: #b89cf9; }

.ipsDarkMode.ipsApp .CodeMirror-focused .CodeMirror-selected { background: rgba(0,0,0,0.45); }
.ipsDarkMode.ipsApp .CodeMirror-line::selection, 
.ipsDarkMode.ipsApp .CodeMirror-line > span::selection, 
.ipsDarkMode.ipsApp .CodeMirror-line > span > span::selection { background: rgba(0,0,0,0.45); }
.ipsDarkMode.ipsApp .CodeMirror-line::-moz-selection, 
.ipsDarkMode.ipsApp .CodeMirror-line > span::-moz-selection, 
.ipsDarkMode.ipsApp .CodeMirror-line > span > span::-moz-selection { background: rgba(0,0,0,0.45); }

.ipsDarkMode .pln{
    color: #fff
}
@media screen{
    .ipsDarkMode .str{
        color:#f9e1a8
    }
    .ipsDarkMode .kwd{
        color:#ffa1a1
    }
    .ipsDarkMode .com{
        color:#fdc389
    }
    .ipsDarkMode .typ{
        color:#aeecd5
    }
    .ipsDarkMode .lit{
        color:#a9a9ff
    }
    .ipsDarkMode .pun,
    .ipsDarkMode .opn,
    .ipsDarkMode .clo{
        color:#f9d88a
    }
    .ipsDarkMode .tag{
        color:#a0dd96
    }
    .ipsDarkMode .atn{
        color:#d56262
    }
    .ipsDarkMode .atv{
        color:#a0dd96
    }
    .ipsDarkMode .dec,
    .ipsDarkMode .var{
        color:#d56262
    }
    .ipsDarkMode .fun{
        color: #ffa1a1
    }
}
.ipsDarkMode li.L1,
.ipsDarkMode li.L3,
.ipsDarkMode li.L5,
.ipsDarkMode li.L7,
.ipsDarkMode li.L9{
    background: var(--c1);
}

.ipsDarkMode code [style*='color: #000000']{
	color: #fff !important;
}
.ipsDarkMode code [style*='color: #0000BB']{
	color: #a9a9ff !important;
}
.ipsDarkMode code [style*='color: #007700']{
	color: #a0dd96 !important;
}
.ipsDarkMode code [style*='color: #DD0000']{
	color: #d67979 !important;
}

/* Export diff template names */
.acpBlock_title{
    font-size: 18px;
    font-weight: bold;
    color: var(--c9);
    padding: 1em;
}

/* Branded links in dark theme should not apply as the colors clash */
.ipsDarkMode .ipsType_brandedLinks a,
.ipsDarkMode a.ipsType_brandedLink{
    color: var(--a-hover--color);
}