/* NEW EMBED */
.cGalleryEmbed a {
	display: block;
}

.cGalleryEmbed_albumStrip {
	white-space: nowrap;
}

.cGalleryEmbed_albumStrip li {
	width: 20%;
	min-width: 40px;
	float: left;
	position: relative;
}
	
	.cGalleryEmbed_albumStrip_mini li {
		width: 10%;
		min-width: 40px;
	}

	.cGalleryEmbed_albumStrip li:after {
		content: '';
		display: block;
		padding-bottom: 100%;
	}

.cGalleryEmbed_albumStrip li a {
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	position: absolute;
	top: 0;
	left: 0;
	right: 1px;
	bottom: 1px;
	font-size: 20px;
	text-align: center;
	color: #000;
	display: block;
}
	.cGalleryEmbed_albumStrip li a span {
		padding-top: 40%;
		display: block;
	}

	.cGalleryEmbed_albumStrip_mini li a {
		font-size: 15px;
	}

	.cGalleryEmbed_albumStrip li a span {
		opacity: 0.3;
	}

.cGalleryEmbed_albumStrip:not( .cGalleryEmbed_albumStrip_mini ) {
	margin: -30px 15px 0;
	border: 1px solid rgba( var(--theme-text_color), 0.1 );
}

.ipsRichEmbed_mastheadBg.cGalleryEmbed_imageComment a {
	height: 220px;
}

/* OLD EMBED */
.ipsEmbedded .cGalleryTrimmedImage {
	background-color: #333;
	background-size: cover;
	background-position: 50%;
	background-repeat: no-repeat;
	overflow: hidden;
}

	.ipsEmbedded .cGalleryTrimmedImage img {
		display: none;
	}

	.ipsEmbedded .cGalleryTrimmedImage a {
		width: 120px;
		height: 120px;
		display: block;
	}

.ipsEmbedded .cGallery_albumImages {
	margin-top: 5px;
}

.ipsEmbedded .cGallery_albumImage a {
	width: 40px;
	height: 40px;
	border: 2px solid #fff;
}

.ipsEmbedded .cGallery_albumStats {
	color: #fff;
	font-weight: bold;
	position: absolute;
	bottom: 5px;
	text-shadow: 0px 1px 0px rgba(0,0,0,0.5);
}
html[dir="ltr"] .ipsEmbedded .cGallery_albumStats {
	right: 5px;
}
html[dir="rtl"] .ipsEmbedded .cGallery_albumStats {
	left: 5px;
}