/* Embedded gallery content */
.ipsImageBlock--embed-hero .ipsImageBlock__main{
	max-height: 220px;
}

.ipsRichEmbed--gallery-image-comment .ipsImageBlock__main,
.ipsRichEmbed--gallery-image-review .ipsImageBlock__main{
	max-height: 300px;
}

.cGalleryEmbed_albumStrip {
	display: flex;
	justify-content: center;
	gap: 5px;
}

	.cGalleryEmbed_albumStrip li {
		flex: 0 1 25%;
	}

.cGalleryEmbed_albumStrip:not( .cGalleryEmbed_albumStrip_mini ) {
	margin: 0;
	background: rgb(var(--theme-area_background_reset));
	padding: 5px;
	border-radius: var(--box--radius);
	position: relative;
}

.ipsImageBlock ~ .cGalleryEmbed_albumStrip:not( .cGalleryEmbed_albumStrip_mini ){
	margin: -30px 15px 0;
}