.cGalleryCarouselWidget .ipsCarousel_item{
	flex: 0 0 240px;
	min-width: 0;
}

	.cGalleryCarouselWidget .ipsImageBlock__main{
		aspect-ratio: 4/3;
	}

	@supports not (aspect-ratio: 4/3){
		.cGalleryCarouselWidget .ipsImageBlock__main{
			height: 150px;
	}